// breakpoints
$breakpoint-small-width: max-width 400px;
$breakpoint-medium-width: max-width 768px;
$breakpoint-large-width: max-width 1111px;

// fonts
$panel-font: 'Antic Slab', "Georgia", serif;
$header-font: 'Dawning of a New Day', "Garamond";
$body-font: 'Muli', "Trebuchet MS";

// colors
$link: #6699CC;
$gray: #A2A9AF;
$link-hover: #C3E4ED;
