@import "compass/reset";
@import "variables";
@import "breakpoint";
@import "compass";
@import "../jeet/index";


@mixin boxes($colfrac, $pd) {
  @include span($colfrac);
  @include box-sizing(border-box);
  padding: $pd;
}

@mixin font($ff, $sz, $c) {
  font-family: $ff;
  font-size: $sz;
  color: $c;
}

@mixin rotate($deg, $mt, $ml) {
  @include edit();
  margin-top: $mt;
  margin-left: $ml;
  transform: rotate($deg);
  -ms-transform: rotate($deg);
  -webkit-transform: rotate($deg);
}

#side {
  @include font($panel-font, 1.8em, $gray);
  @include cf();
  @include box-sizing(border-box);
  display: table;
  margin: 0 auto; 
  background: $gray;
  //background-image: url('../images/tree.jpg');
  background-position: center top;
  background-size: cover;
  z-index: 600;
  position: fixed;
  height: 100%;
  width: 20%;
  overflow-x: hidden;
  text-align: center;
  #panel {
    @include box-sizing(border-box);
    display: table;
    margin: 0 auto;
    width: 100%;
    position: relative;
    z-index: 5;
    line-height: 130%; 
    margin-top: 170%;
    h2 {
      @include font($panel-font, 0.8em, $gray);
      display: none;
    }
    a.menu {
      //text-shadow: 3px 1px white;
      font-weight: bold;
    }
    a.menu:link, a.menu:visited {
      text-decoration: none;
      color: $link;
    }
    a.menu:hover {
      color: $link-hover;
    }
  }
  @include breakpoint($breakpoint-medium-width) {
    @include boxes(1/1, 10px);
    background: transparent;
    margin: 0 auto;
    padding: 0;
    vertical-align: middle;
    position: fixed;
    top: 0;
    left: 0;
    ul {
      position: absolute;
      visibility: hidden;
      background-color: white;
      opacity: 0.8;
      width: 100%;
    }
    .out {
      visibility: visible;
    }
    .about, .projects, .resume, .contact {
      float: none;
      display: default;
      //@include rotate(0deg, 0px, 0px);
      margin: 0; 
      width: 100%;
      text-align: center;
      @include font($panel-font, 0.5em, $gray);
      a:link, a:visited {
        color: white;
      }
      a:hover {
        background-color: white;
      }
    }
    #panel {
      margin: 0 auto;
      h2 {
        text-align: center;
        display: inherit;
        z-index: 900;
        height: 5%;
        width: 100%;
        padding: 0px;
        margin-top: 0px;
        background-color: $link;
        opacity: 0.8;
        a {
          text-decoration: none;
        }
        a:link, a:visited {
          color: $nav;
        }
        a:hover {
          color: white;
        }
      }
    }
  }
}

#container {
  position: relative; 
  @include boxes(4/5, 0px);
  @include breakpoint($breakpoint-medium-width) {
    @include boxes(1/1, 10px);
  }
}

table {
  @include center();
  width: 80%;
  margin: 0 auto;
  display: inline-block;
}

dl {
  @include font($body-font, 1em, $gray);
  text-align: justify;
  line-height: 150%;
  margin: -20px 20px 40px 0px;
  padding: 30px;
  a:hover {
    color: $link-hover;
  }
}

h2 {
  @include font($header-font, 2.2em, $link);
  font-weight: bold;
  margin-top: 5px;
  padding: 40px 30px 0 30px;
}

.bold {
  color: black;
  font-weight: bold;
}

dd {
  margin-left: 10px;
}

#projects > td > dl {
  @include box-sizing(border-box);
  padding: 30px;
  margin: 1%;
  height: 500px;
  width: 48%;
  float: left;
  color: $gray;
  border: solid;
  border-color: $gray;
  dd {
    font-size: 0.8em;
  }
  @include breakpoint($breakpoint-medium-width) {
    @include boxes(1/1, 30px);
    border: none;
  }
}

#resume > td {
  & dl {
    margin-left: 5%;
    text-align: left;
    width: 50%;
    background-color: $linktp;
    @include breakpoint($breakpoint-medium-width) {
      width: 90%;
    }
    dd {
      margin-left: 0px;
      font-size: 0.8em;
    }
  }
  & h2 {
    margin-bottom: 30px;
  }

}

.skills {
  font-size: 0.6em;
  margin-left: 10px;
  font-style: italic;
}

.space {
  height: 400px;
  width: 300px;
}

a {
  z-index: 999;
  position: relative;
}
