doctype html
html 
	head
		link(href='http://fonts.googleapis.com/css?family=Muli' rel='stylesheet' type='text/css')
		link(href='http://fonts.googleapis.com/css?family=Dawning+of+a+New+Day' rel='stylesheet' type='text/css')
		link(href='http://fonts.googleapis.com/css?family=Antic+Slab' rel='stylesheet' type='text/css')
		link(rel='stylesheet' href='vendors/bootstrap/dist/css/bootstrap.min.css')
		link(rel='stylesheet' href='stylesheets/screen.css')
		//meta(http-equiv="refresh" content="5")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		
		title Kathleen Chen
	body
		.pull-left#side
			// links here
			.naver-container#panel
				h2
					a(href="#" onclick="return false;") NAVIGATION
				ul 
					- var tags = ["about", "projects", "resume", "contact"];
					- each tag, id in tags
						- var idtag = "#" + tag;
						li(class=tag): a.menu(href=idtag) #{tag}

		.pull-right#container 
			table(class="table table-striped center-block")
				tbody
					tr#about 
						td 
							h2 Hello, I'm Kathleen Chen.
							dl 
								dt 
								| I'm a sophomore at the University of Pennsylvania 
								| stepping into the tech space. As a student studying Computer Science and Biochemistry, 
								| I am interested in big data, biotech, and 
								a(href="http://github.com/kchen17") making cool things
								| . My free time is spent 
								a(href="http://eluviese.tumblr.com") reading, writing
								| , and discussing social (human) issues with people during those singular night hours.
								| I have a passion for learning--whether it be through people, hacking, or tripping over my own mistakes.
					tr#projects
						td 
							h2 Projects
							dl 
								dt.bold Philly Dev Camp 
								dt Portfolio Site
								dd.skills (Drupal)
								dd Description.
								dt LAMP "Blog" Site
								dd.skills (HTML/CSS, jQuery, PHP, MySQL, Apache)
								dd Description.
							dl 
								dt.bold To-do List Extension
								dd.skills (HTML/CSS, jQuery, AngularJS)
								dd Description. 
							dl 
								dt.bold Walk the Line (2-D scrolling, platform game)
								dd.skills (Java)
								dd Description.
							dl 
								dt.bold Lost Moon (2-D scrolling, survival game) 
								dd.skills (Python)
								dd Description
					tr#resume 
						td 
							h2 Resume
							dl Developer Intern, Advanced Automation Group, LLC. 
							dl 
								| Assistant Programmer, Hogenesch Genomics Lab 
								br 
								| (University of Pennsylvania)
							dl Student Researcher, Tech Full Electric Co., LTD.
							dl MERIT Program Volunteer, Henry Ford Hospital
							dl 
								dt Technical 
								dd OS/Platforms: Windows XP & 7, Mac OS X, Unix, Linux
								dd Proficient: Java, Python, R, HTML/CSS
								dd Moderate: PHP, JavaScript, SQL, Matlab, OCaml
							dl 
								dt Download Resume
					tr#contact
						td
							h2 Contact Me
							dl 
								dt 
								| Send me a 
								a(href="mailto:chen.kathleenm@gmail.com") message
								| !  
								dt
								| You can also find me on 
								a(href="http://github.com/kchen17") github
								| , 
								a(href="https://www.facebook.com/kathy.chen95") facebook
								| , 
								a(href="http://www.linkedin.com/pub/kathleen-chen/92/3aa/5a3") linkedin
								| , and 
								a(href="http://eluviese.tumblr.com") tumblr
								| .
							dl.space
		script(type='text/javascript' src='vendors/jquery/dist/jquery.min.js')
		script(type='text/javascript' src='scripts/layout.js')

