doctype html
html 
	head
		link(href='http://fonts.googleapis.com/css?family=Muli' rel='stylesheet' type='text/css')
		link(href='http://fonts.googleapis.com/css?family=Dawning+of+a+New+Day' rel='stylesheet' type='text/css')
		link(href='http://fonts.googleapis.com/css?family=Antic+Slab' rel='stylesheet' type='text/css')
		link(rel='stylesheet' href='vendors/bootstrap/dist/css/bootstrap.min.css')
		link(rel='stylesheet' href='stylesheets/screen.css')
		//meta(http-equiv="refresh" content="5")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		
		title Kathleen Chen
	body
		.pull-left#side
			// links here
			.naver-container#panel
				h2
					a(href="#" onclick="return false;") NAVIGATION
				ul 
					- var tags = ["about", "projects", "resume", "contact"];
					- each tag, id in tags
						- var idtag = "#" + tag;
						li(class=tag): a.menu(href=idtag) #{tag}

		.pull-right#container 
			table(class="table table-striped center-block")
				tbody
					tr#about 
						td 
							h2 Hello, I'm Kathleen Chen.
							dl 
								dt 
								| I'm a sophomore at the University of Pennsylvania 
								| stepping into the tech space. As a student studying Computer Science and Biochemistry, 
								| I am interested in big data, biotech, and 
								a(href="http://github.com/kchen17") making cool things
								| . I love to learn--whether it be through people, hacking, or tripping over my own mistakes.
								| My free time is spent 
								a(href="http://eluviese.tumblr.com") reading, writing
								| , and discussing social (human) issues with people during the most obscene hours of the night.
								
					tr#projects
						td 
							h2 Projects
							dl 
								.img#pdcps
								.txt
									dt.bold Philly Dev Camp: Portfolio Site
									dd.skills (Drupal)
									dd
										| Created to learn Drupal's
										| content management system and basic module building.  
										| Taxonomy terms and badges linked to blog/project posts 
										| track progress in honing specific skills.
										| Custom theming not yet implemented.
								//.img#pdcps
							dl
								.img#pdclamp
								.txt
									dt.bold Philly Dev Camp: LAMP "Blog" Site
									dd.skills (HTML/CSS, jQuery, PHP, MySQL, Apache)
									dd 
										| An exercise in PHP and database management. 
										| Entries open for public submission/deletion. Grid layout, with 
										| very basic jQuery for zoom-in/-out option. 
								//.img#pdclamp 
							dl 
								.img#tdchrome
								.txt
									dt.bold Chrome extension: To-do List
									dd.skills (HTML/CSS, jQuery, AngularJS)
									dd
										| Exploration of AngularJS: contains in-place
										| edit, delete, and drag & drop options, ability to clear all/clear selection, 
										| and pagination. Items saved in browser via DOM storage. 
								//.img#tdchrome

							dl 
								.img#wtl
								.txt
									dt.bold Game: Walk the Line (2-D scrolling, platform)
									dd.skills (Java, OOP)
									dd 
										| Objective is to traverse lines of an entire poem, avoid 
										| dying, and accumulate as many points as possible. Tiles
										| generated with ASCII map showing where 
										| a poem should be "cut"; enemies can detect player's relative position
										| after an attack; player has a fatigue mode triggered for a set time when 
										| ammo needs "reloading."  
								//.img#wtl
							dl 
								.img#mhacks
								.txt 
									dt.bold Game: Lost Moon (2-D scrolling, platform, multi-environment, mini-games) 
									dd.skills (Python, OOP)
									dd 
										| Uses PyGame; written by 4-person team during MHacks 2013 just for fun. Objective
										| is to simply fight monsters and survive. I programmed zone detection to 
										| allow for transition into new terrains without pause. Each member created a
										| mini-game as well, which appear based on environment.
								//.img#mhacks
					tr#resume 
						td 
							h2 Resume
							dl Developer Intern, Advanced Automation Group, LLC. 
							dl 
								| Assistant Programmer, Hogenesch Genomics Lab 
								br 
								| (University of Pennsylvania)
							dl Student Researcher, Tech Full Electric Co., LTD.
							dl MERIT Program Volunteer Coordinator, Henry Ford Hospital
							dl 
								dt Technical 
								dd OS/Platforms: Windows XP & 7, Mac OS X, Unix, Linux
								dd Proficient: Java, Python, R, HTML/CSS
								dd Moderate: PHP, JavaScript, SQL, Matlab, OCaml
							dl 
								dt 
									a(href="https://www.dropbox.com/s/m1o73gh6bwnyuau/KathleenChen.pdf") Download Resume
					tr#contact
						td
							h2 Contact Me
							dl 
								dt 
								| Send me a 
								a(href="mailto:chen.kathleenm@gmail.com") message
								| !  
								dt
								| You can also find me on 
								a(href="http://github.com/kchen17") github
								| , 
								a(href="https://www.facebook.com/kathy.chen95") facebook
								| , 
								a(href="http://www.linkedin.com/pub/kathleen-chen/92/3aa/5a3") linkedin
								| , and 
								a(href="http://eluviese.tumblr.com") tumblr
								| .
							dl.space
		script(type='text/javascript' src='vendors/jquery/dist/jquery.min.js')
		script(type='text/javascript' src='scripts/layout.js')

